.about-text {
    display: flex;
    justify-content: space-between;
    height: 55%;
    margin-bottom: 70px; 
}
.about-text h1{
    align-items: center;
    margin-left: 40%;
    margin-bottom: 10px;
}
.about-text div {
    width: 30%;
    margin-top: 80px;
    margin-left: -1000px; 
      
}
.about-text p{
    font-size: 20px;
}
.image-top{
    width: 30%;
    height: 300px;
    position: relative;
    top: 65px;
    left: 1px;
    bottom: -30px;
   margin-right: 55px;
}
