.navbar {
    background-color: D9D9D9;
    padding: 15px;
    display: flex;
    height: 80px ;
    justify-content: space-between;
    align-items: center; 
  }
  
  .title {
    color: #110f0f;
  }
  
  .title p {
    margin: 0;
    font-size: 40px;
    font-weight: bold; 
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin-left: 10px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #150404;
    font-size: 20px;

  }
  
  .nav-link:hover {
    font-weight: bolder;
    color: #18a9ec; 
  }
  