   .footer {
    background-color: #d9d9d9;
    height: 120px;
    display: flex;
    padding: 5px 123px;
    justify-content: space-evenly;
  }
  .footer ul {
    list-style: none;
  }
  .footer ul li a:hover{
    color: #18a9ec;
  }
.foot-first p{
    margin: 0;
    font-size: 20px;  
}
.foot-link{
    margin-top: 0;
    text-decoration: none;
    text-align: right;
    color: #150404;
    font-size: 22px;
  }
 .copy-right {
    text-align: center;
    font-size: 20px;
    color: rgb(10, 10, 10);
    padding: 70px 0;
   align-content: center;
  }